/* 初始化 */
*, *:before, *:after {
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing:inherit;
}
html {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	font-size:100px;
	line-height: 1.5;
}
body {
	font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	color:#333;
	font-size:14px;
}

/*  页面样式  */
.disp-ilb {
	display: inline-block;
}
.tree, .tree div {
	margin-bottom: 5px;
	padding-left: 28px;
	padding-right: 5px;
	padding-bottom: 5px;
	line-height: 40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.tree div {
	display: none;
}
.open > div {
	display: block;
}
.tree:before, .tree div:before {
	content: "";
	display: inline-block;
	margin: 14px 12px -14px -18px;
	border: 6px solid transparent;
	border-left: 8px solid #333;
	border-right: none;
	vertical-align: top;
}
.tree.open:before, .tree .open:before {
	margin: 16px 10px -16px -20px;
	border: 6px solid transparent;
	border-top: 8px solid #333;
	border-bottom: none;
}
.tree.act, .tree .act {
	background-color: #0f0;
}
.tree.tag, .tree .tag {
	background-color: #ff0;
}
.tree.select, .tree .select {
	background-color: #0ff;
}
.control-bar {
	margin-top: 20px;
	padding: 0 20px;
}
.control-bar input {
	margin: 0 20px 10px 0;
	font-size: 14px;
	line-height: 24px;
}